@media only screen and (max-width: 1400px) {
    .header {
        left: 10%;
    }
    .content-head ,
    .content-boxes,
    .footer-wrapper,
    .copyright-rule {
        margin: 0 10%
    } 
    

}

@media only screen and (max-width: 1300px) {
   
    .header {
        width: 100%;
        left: 0;
      }
      .content-head ,
      .content-boxes,
      .footer-wrapper,
      .pagination-wrapper,
      .copyright-rule {
        margin: 0 3%;
    }
    
      
}
@media only screen and (max-width: 1200px) {
      .content-head ,
      .content-boxes,
      .pagination-wrapper,
      .footer-wrapper,
      .copyright-rule {
        margin: 0 2%;
    }
     
    .content-boxes {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    

}
@media only screen and (max-width: 1025px) {

    .content-boxes {
        justify-content: space-around;
    }
    .footer-service{
        margin-right: 10px;
        margin-left: 10px;
    }
    .footer-connectus {
    
        margin-right: 0px;
    } 
    

}
@media only screen and (max-width: 815px) {


    .footer-wrapper {
        flex-direction: column;
        margin: 0px 100px;

    }
    .footet-newsletter-signup > p{
        margin: 0 auto;
      }
    .footer-service{
        margin: 30px 0px;
    }
   .footer-social {
        display: flex;
        justify-content: flex-start;
    }
    .social-items {
        margin: 0px 5px;
      }
}
@media only screen and (max-width: 740px) {

    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo {

        margin-top: 29px;
        margin-bottom: 15px;
      }
    .nav-bar {
        margin-bottom: 15px;
    } 

}
@media only screen and (max-width: 680px) {

    .content-head {

        flex-direction: column;

    }
    .content-finder {
        margin-left: 0px;
      }

}
@media only screen and (max-width: 530px) {
    .slider-content-banner {
        margin-left: 0;
        line-height: 1.2;
        opacity: 0.8;
      }
    .slider-content-text {
        color: #ffffff;
        font-size: 30px;
        padding: 16px 25px;
      }
}
@media only screen and (max-width: 480px) {
    .pagination-wrapper > div {
        margin: 0px 5px;
        margin-top: 5px;
        margin-bottom: 31px;
    }
    .menu-main {
        flex-wrap: wrap;
        justify-content: flex-start; 

    }
    .menu-link {
        margin: 5px 20px;
      }

}

@media only screen and (max-width: 450px) {
    .menu-link {
        margin: 5px 15px;
    }
    
    .footer-wrapper {
        margin: 0px 10px;
    
    }
    .pagination-wrapper {
        margin: auto 2%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
}

@media only screen and (max-width: 380px) {
    .menu-link {
        margin: 5px 13px;
    }

}
